# TiDB Cloud Serverless Database Config
TIDB_HOST=gateway01.eu-central-1.prod.aws.tidbcloud.com
TIDB_PORT=4000
TIDB_USER=URcENfDyA1KZC7Y.root
TIDB_PASSWORD=your_tidb_password_here
TIDB_DATABASE=DormitoryManagementSystemDB

# Cloudinary Storage Config
CLOUDINARY_CLOUD_NAME=p0lfuced
CLOUDINARY_API_KEY=815187973111287
CLOUDINARY_API_SECRET=7BogullHcPNTBEedtYfTIAk_g5g

# JWT Auth Secret
JWT_SECRET=bezawit_planner_secret_jwt_key_2027
